<a href="{{ routes.cart_url }}" class="site-header__icon site-header__cart minicart-trigger">
    <span id="CartCount" class="site-header__cart-count{% if cart.item_count == 0 %} hide{% endif %} badge" data-cart-count-bubble>
        <span data-cart-count>{{ cart.item_count }}</span>
        <span class="icon__fallback-text medium-up--hide">{{ 'layout.cart.items_count' | t: count: cart.item_count }}</span>
    </span>
    {% include 'icon-cart' %}
    <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span>
</a>