<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="style-guide">
      
        <h1>Heading 1</h1>
        <h2>Heading 2</h2>
        <h3>Heading 3</h3>
        <h4>Heading 4</h4>
        <h5>Heading 5</h5>
        <h6>Heading 6</h6>

        <h1 class="h1-seirf">Heading Serif 1</h1>
        <h2 class="h2-seirf">Heading Serif 2</h2>
        <h3 class="h3-seirf">Heading Serif 3</h3>
        <h4 class="h4-seirf">Heading Serif 4</h4>
        <h5 class="h5-seirf">Heading Serif 5</h5>
        <h6 class="h6-seirf">Heading Serif 6</h6>

        <h1 class="heading-uppercase">Heading uppercase 1</h1>
        <h2 class="heading-uppercase">Heading uppercase 2</h2>

        <div class="heading-uppercase-small">Heading uppercase Small</div>

        <hr>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <p class="crossed-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        
        <p class="mini-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        
        <p class="mini-text-uppercase">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <hr>

        {% include 'icon-cart' %}
        {% include 'icon-close' %}
        {% include 'icon-menu' %}
        {% include 'icon-search' %}
        {% include 'icon-plus' %}
        {% include 'icon-minus' %}
        {% include 'icon-youtube' %}
        {% include 'icon-twitter' %}
        {% include 'icon-instagram' %}
        {% include 'icon-facebook' %}
        {% include 'icon-arrow' %}

        <div style="background: black; padding: 10px;margin-top:24px">
          {% include 'icon-twitter', type: 'white' %}
          {% include 'icon-instagram', type: 'white' %}
          {% include 'icon-facebook', type: 'white' %}
          {% include 'icon-youtube', type: 'white' %}
        </div>

        <hr>

        <button>Button test</button>
        <button class="btn">Button test</button>
        <button class="btn btn-pink">Button test</button>

        <a href="#">Button test</a>
        <a href="#" class="btn">Button test</a>
        <a href="#" class="btn btn-pink">Button test</a>
        
        <div style="background: black; padding: 20px; margin: 30px 0;">
          <button class="btn btn-ghost">Button test</button>
        </div>

        <button class="btn btn-ghost btn-ghost-black">Button test</button>

        <br><br>

        <button class="btn btn-small">Button small</button>
        <button class="btn">Button default</button>
        <button class="btn btn-large">Button large</button>

        <br><br>

        <button class="btn btn-pink" disabled>Button test</button>

        <hr>

        <span class="badge">10</span>

        <span class="badge">Text example</span>

        <br><br>

        <a href="#" class="site-header__icon site-header__cart minicart-trigger">
          <span class="site-header__cart-count badge hide">
            <span></span>
            <span class="icon__fallback-text medium-up--hide">itens</span>
          </span>
          <span>{% include 'icon-cart' %}</span>
          <span class="icon__fallback-text">Carrinho</span>
        </a>

        {% include 'minicart' %}

        <hr>
        
        <label for="input_test">Label example</label>
        <input type="text" id="input_test" placeholder="Digite seu e-mail">

        <label for="select_test">Select example</label>
        <select id="select_test">
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
        </select>

        <hr>

        {% section 'call-to-action' %}

      </div>
    </div>
  </div>
</div>
